*:focus{
	outline: none;
}
body{
	font-family: Lato;
	color: #353535;
}
.mainContent{
	width: 1120px;
	margin: 0 auto;	
    border-top: 1px solid #9D9D9D;
    margin-top: 80px;
    padding-top: 70px;
}

.thinButton{
	padding: 8px 20px 8px 20px;
	background-color: #1696d2;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
.thinButton a, .thicButton a{
	color: #fff;
	text-decoration: none;
}
.thinButton:hover, .thicButton:hover{
	background-color: #353535;
}
.thicButton{
	padding: 13px 20px 13px 20px;
	background-color: #1696d2;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 50px;
}
a{
	color: #1696d2;
	text-decoration: none;
}
a.standard{
	color: #1696d2;
	text-decoration: none;
}
a.standard:hover{
	color: #353535;
}
a.inverted{
	color: #353535;
	text-decoration: none;
}
a.inverted:hover{
	color: #1696d2;
}
select{
	display: none;
}

/*********************************************************************************/
/*******************************       MENU      *********************************/
/*********************************************************************************/

#menuBar{
	position: fixed;
    width: 100%;
    background: #F5F5F5;
    top: 49px;
    z-index: 98;
    height: 49px;
}

#tabWrapper{
	width: 69px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background: none;
}
#tabWrapper a{
	text-align: center;
	color: #333;
}
.menuTab{
	display: inline-block;
    text-transform: uppercase;
	font-size:14px;
	font-weight: bold;
	margin-top:14px;
}
.menuTab:hover{
	font-weight: bold;
	color: #1696d2;
}
.menuTab.home{
	width: 69px;
}
.menuTab.cities{
	width: 98px;
	position: relative;
	left: 1px;
	text-align: center;
}
.menuTab.groups{
    width: 124px;
    text-align: right;
}
.menuTab.menu{
	display: none;
}


/*********************************************************************************/
/***************************       MENU POPUP     ********************************/
/*********************************************************************************/

.menu.popup{
	position: fixed;
	top: 100px;
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid #9D9D9D;
	-webkit-box-shadow: 0px 16px 31px -11px rgba(105,105,105,0.62);
	-moz-box-shadow: 0px 16px 31px -11px rgba(105,105,105,0.62);
	box-shadow: 0px 16px 31px -11px rgba(105,105,105,0.62);
	z-index: 9999;
}
.menu.popup:after, .menu.popup:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.city.menu.popup:after, .city.menu.popup:before{
	left: calc(50% - 28px);
}
.group.menu.popup:after, .group.menu.popup:before{
	left: calc(50% + 110px);
}
.menu.popup:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}
.menu.popup:before {
	border-color: rgba(157, 157, 157, 0);
	border-bottom-color: #9D9D9D;
	border-width: 14px;
	margin-left: -14px;
}

.colContainer{
	width: 1027px;
	margin: 0 auto;
}
.popupColumn{
    display: inline-block;
    width: 20%;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.popupCity{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}
.popupCity:hover{
	font-weight: bold;
	color: #1696d2;
}

.popupRow{
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #9D9D9D
}
.popupRow_first{
	margin-top: 20px;
}
.popupRow_last{
	margin-bottom: 20px;
	border-bottom: none;
}
.popupGroup{
	font-size: 18px;
    line-height: 1.2;
    display: inline-block;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
    width: 280px; 
    padding-left: 9px;
    margin: 20px;
}


/*********************************************************************************/
/***************************       HOME TITLE     ********************************/
/*********************************************************************************/
#titleContainer{
	width: 100%;
	border-bottom: 1px solid #9D9D9D;
    padding-bottom: 70px;
}
#title, #subtitle{
	display: block;
	font-size: 40px;
	width: 100%;
	text-align: center;
}
#title{
    margin: 0 auto;
    margin-top: 220px;
    font-weight: bold;
    width: 80%;
    text-align: left;
}
#datePublished{
	color: #707070;
	font-style: italic;
	font-size: 20px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 300;
}
#subtitle{
	font-size: 14px;
	color: #333333;
	margin-top: 10px;
	/*margin-bottom: 50px;*/
}
.introText{
    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: 28px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
}


/*********************************************************************************/
/********************      PAGE TEXT COMPONENTS      *****************************/
/*********************************************************************************/
#questionTitle{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    padding-left: 210px;
    margin-top: 60px;
}
#questionContainer{
	display: inline-block;
	float: left;
    width: 206px;
    border-right: 1px solid #707070;
    height: 600px;
    position: relative;
}
#popupContainer, #questionContainer{
	margin-top: 30px;
}
#questionMenuLabel{
	font-size: 16px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 19px;
}
#questionContainer .questionMenu{
	width: 170px;
	font-size: 20px;
	color: #666666;
	margin-bottom: 20px;
	padding-left: 10px;
	cursor: pointer;
}
#questionContainer .questionMenu.active{
	font-weight: bold;
	border-left: 1px solid #707070;
}
.questionMenu.map{
	color: #AFAFAF !important;
	text-transform: uppercase;
	position: absolute;
    top: -114px;
    width: 210px !important;
}
.questionMenu.map img{
	height: 38px;
	top: 13px;
	padding-right: 20px;
	position: relative;
}
.questionMenu.map.active{
	display: none;
}
#graphContainer, #popupContainer, #sidebarContainer{
	display: inline-block;
	float: left;
}
#sidebarContainer.healthQuestion, #sidebarContainer.sizeQuestion{
	width: 190px;
    margin-left: 20px;
    margin-right: 20px;
}
#sidebarContainer.changeQuestion{
	width: 700px;
	display: block;
	margin-left: 20px;
	float: none;
}
#graphContainer.changeQuestion{
	width: 700px;
	margin-left: 20px;
	position: relative;
}
#sidebarContainer{
	padding-left: 20px;
	display: inline-block;
	width: 240px;
	float: left;
}
#sidebarContainer.map{
	display: none;
}
#paragraphContainer.sizeQuestion, #paragraphContainer.healthQuestion{
    width: 210px;
    margin-top: -18px;
    margin-bottom: 40px;
    font-size: 20px;
}
#legendContainer.scatter{
	position: relative;
    width: 142px;
}

/*********************************************************************************/
/*****************************       LEGEND      *********************************/
/*********************************************************************************/
.mapQuestion #legendContainer{
	width: 140px;
    position: absolute;
    top: 210px;
    right: -150px;
}
#legend-title{
	color: #414141;
    border-bottom: 1px solid #707070;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.legendDot{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}
#legend-more, #legend-less{
	font-size: 14px;
    font-weight: bold;
    color: #707070;
    width: 60px;
    position: absolute;
    left: 30px;
}
#legend-more{
    top: 29px;
}
#legend-less{
	top: 145px;
}
/*********************************************************************************/
/*******************************       MAP      **********************************/
/*********************************************************************************/
#noteContainer{
    font-size: 14px;
    font-style: italic;
    margin-bottom: 7px;
}

#graphContainer.mapQuestion {
	position: relative;
	margin-left: 70px;
}
.mapQuestion #inclusionContainer{
	margin-top: 25px;
}
.mapQuestion #plotContainer{
	position: relative;
}
.mapQuestion #plotContainer svg{
	/*cursor: pointer;*/
}
#zoomOut{
    position: absolute;
    bottom: 10px;
    right: 16px;
    background: rgba(0,0,0,.8);
    padding: 10px;
    color: white;
    cursor: zoom-out;
    opacity: 0;
}

#homeMap, #groupMap{
	cursor: pointer;
	width: 100%;
    position: absolute;
    top: 270px;
}
#homeMap{
	top: 270px;
}
#groupMap{
	top: -10px;
}
.states {
  fill: #696969;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: zoom-in;
}
.mapQuestion .dot{
	pointer-events: none;
}
.states.hover{
	fill: #ec008b;
}
.cityText{
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
}

.cell-path {
  fill: none;
  stroke: none;
  pointer-events: all;
}
.cell-path.grab{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.cell-path.grabbing{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grabing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/*********************************************************************************/
/*****************************       BODY COPY      ******************************/
/*********************************************************************************/
#homeCopy{
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.copyHeader{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 35px;
}
.copyP, .copyUl{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 22px;
}
.copyUl{
	padding-left: 21px;
	width: calc(100% - 21px);
}
.copyUl li{
	text-align: left;
    list-style: initial;
    padding-left: 20px;
    padding-bottom: 30px;
}

.copyOl li {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
}

/*********************************************************************************/
/*****************************      HOME FOOTER      *****************************/
/*********************************************************************************/

#footerContainer{
	margin-top: 90px;
	background-color: #F5F5F5;
}
#footerContent{
	width: 700px;
	margin: 0 auto;
}
.footerHeader{
	margin-top: 50px;
	margin-bottom: 8px;
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
}
#topFooterHeader{
	padding-top: 44px;
}
.footerAbout, .footerCredits, .footerSpecialCredit{
    font-size: 16px;
    line-height: 26px;
}
.footerCredits, .footerSpecialCredit{
	font-size: 14px;
	font-style: italic;
	line-height: 22px;
}
#bottomFooterCredits{
	margin-bottom: 45px;
}
.creditsHeader{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.creditsNames{
	margin-bottom: 30px;
	margin-top: 5px;
	font-size: 16px;
}
#copyright{
	margin-bottom: 100px;
	display: inline-block;
}


/*********************************************************************************/
/****************************      SCATTER PLOT      *****************************/
/*********************************************************************************/
#scatterSvg{
	cursor: pointer;
	margin-top: 20px;
	margin-right: 20px;
	position: relative;
	pointer-events: visible;
}
.dot.hover{
	fill: #ec008b;
}
.fitLine{
	stroke: #ec008b;
	fill: none;
	stroke-width: 2px;
}
.axis line{
	stroke: #dedddd;

}
.axis path{
	display: none;
}
.axis text{
	font-size: 12px;
	font-family: Lato;
}

.axisLabel{
	position: absolute;
	text-transform: uppercase;
	color: #414141;
	font-size: 16px;
	font-weight: bold;
}
#ml_y_1{
	top: 90px;
    left: 579px;
}
#ml_y_2{
	top: 450px;
    left: 575px;
}
#ml_x_1.size{
	top: 30px;
    left: 0px;
}
#ml_x_2.size{
	top: 30px;
    right: 62px;
}
#ml_x_1.econHealth{
	top: 10px;
    left: 0px;
}
#ml_x_2.econHealth{
	top: 10px;
    right: 62px;
}
.axisLabel.rotate {
	/* Safari */
	-webkit-transform: rotate(90deg);

	/* Firefox */
	-moz-transform: rotate(90deg);

	/* IE */
	-ms-transform: rotate(90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}




/*********************************************************************************/
/***********************      CHANGE LINE CHARTS      ****************************/
/*********************************************************************************/


.chartDiv{
	border: 1px solid #dedddd;
/*	margin-right: 20px;
	margin-bottom: 30px;
	display: inline-block;
	float: left;*/
	position: absolute;
}
.chartDiv svg{
	cursor: pointer;
}
.changeLine{
	stroke-width: 2px;
	fill: none;
}
.changeDot{
	stroke: none;
}
.changeLine.rank{
	stroke: #12719E;
}
.changeDot.rank{
	fill: #12719E;
}
.changeLine.econHealth{
	stroke: #F7C100;
}
.changeDot.econHealth{
	fill: #F7C100;
}
.chartTitle{
	margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.chartTitle span{
	margin-right: 10px;
	float: right;
}
.chartSubtitle{
	font-size: 12px;
	margin-left: 10px;
    margin-top: 5px;
    width: 200px;
}
/*.chartSubtitle .inclSpan{
    background: rgba(18,113,158,.8);
    padding-left: 3px;
    padding-right: 3px;
    color: white;

}

.chartSubtitle .healthSpan{
    background: rgba(253,191,17,.8);
    padding-left: 3px;
    padding-right: 3px;
    color: #333;

}
*/
.smallTT text{
	font-size: 12px;
}
/*********************************************************************************/
/******************************      TOOL TIPS      ******************************/
/*********************************************************************************/
#tt-container{
	position: absolute;
	background: #eeeeee;
	padding: 12px;
}
#tt-container.left.down{
	-moz-box-shadow:    -3px 5px 16px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: -3px 5px 16px 3px rgba(0,0,0,.3);
	box-shadow:         -3px 5px 16px 3px rgba(0,0,0,.3);
}
#tt-container.right.down{
	-moz-box-shadow:    4px 5px 16px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 4px 5px 16px 3px rgba(0,0,0,.3);
	box-shadow:         4px 5px 16px 3px rgba(0,0,0,.3);
}
#tt-container.left.up{
	-moz-box-shadow:    -3px -2px 16px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: -3px -2px 16px 3px rgba(0,0,0,.3);
	box-shadow:         -3px -2px 16px 3px rgba(0,0,0,.3);
}
#tt-container.right.up{
	-moz-box-shadow:    4px -2px 16px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 4px -2px 16px 3px rgba(0,0,0,.3);
	box-shadow:         4px -2px 16px 3px rgba(0,0,0,.3);
}

#tt-title{
	font-family: Lato;
	font-size: 20px;
	color: #666666;
	font-weight: bold;
}
#tt-title svg{
	float: right;
	cursor: pointer;
	padding-top: 2px;
}
.tt-text{
    padding-top: 6px;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}
#tt-click a{
	font-size: 14px;
    position: absolute;
    bottom: 8px;
    right: 11px;
}
#tt-click a svg{
	padding-left: 5px;
}

/*********************************************************************************/
/****************************       CITY PAGE      *******************************/
/*********************************************************************************/
body.cityPage #popupContainer{
	width: 100%;
}
body.cityPage #questionContainer{
	display: none;
}
.topDiv, .moreDiv{
	display: inline-block;
}
#moreContainer{
	width: 1100px;
    margin: 0 auto;
    background: #F5F5F5;
}
#more-head{
	width: 880px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
#more-navContainer{
	display: block;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#more-navContainer .nav{
	display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
#more-navContainer .nav.econHealth, #more-navContainer .nav.race{
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #707070;
}
#more-navContainer .nav.active{
	font-weight: bold;
}
.moreChartContainer{
	width: 880px;
	margin: 0 auto;
}
.moreDiv{
	background: white;
    margin-right: 10px;
    border: 1px solid #CCCCCC;
    width: 208px;
    margin-bottom: 10px;
    vertical-align: top;
}
.moreDiv .chartTitle{
	width: 190px;
}
/*********************************************************************************/
/**************************      CITY SEARCH      ********************************/
/*********************************************************************************/

#searchContainer{
	width: 100%;
    display: inline-block;
    background: #696969;
    height: 102px;
    position: relative;
}
#searchContainer div.ui-widget{
	width: 682px;
    top: 19px;
    margin: 0 auto;
    position: relative;
}
#searchContainer .custom-combobox-input.ui-widget.ui-widget-content.ui-autocomplete-input{
	width: 682px;
    height: 60px;
    border: 1px solid #707070;
    border-radius: 0px;
    background: white;
}
#searchContainer .ui-button .ui-icon {
    background-image: url(../img/search-icon.png);
}
#searchContainer .ui-button.ui-widget.ui-button-icon-only.custom-combobox-toggle.ui-corner-right{
	width: 66px;
	height: 63px;
	position: absolute;
	top: 4px;
	right: -20px;
	background: none;
	border: none;
}
#searchContainer .ui-button-icon.ui-icon.ui-icon-triangle-1-s{
	width: 62px;
	height: 62px;
	background-size: 38px;
	top: 7px;
	left: 8px;
	background-position-x: 21px;
	background-position-y: 14px;
}
#searchContainer input.custom-combobox-input.ui-widget.ui-widget-content.ui-state-default.ui-corner-left.ui-autocomplete-input{
    font-family: Lato;
    font-size: 21px;
    padding-left: 23px	;
    font-weight: bold;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
	width: 705px;
}
ul.ui-widget.ui-autocomplete li.ui-menu-item{
	font-family: Lato;
    width: 33%;
    text-align: left;
    float: left;
}

.ui-state-active{
    border: 1px solid #1696d2 !important;
    background: #1696d2 !important;
    cursor: pointer;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fdbf11 !important;
	background: #fdbf11 !important;
	color: #ffffff !important;
	font-family: Lato;
}

/*********************************************************************************/
/**********************      INCLUSION DROPDOWN      *****************************/
/*********************************************************************************/
#smallMenuLabel{
	font-size: 12px;
    color: #656565;
    margin-left: 17px;
    top: 4px;
    position: relative;
    margin-top: 4px;
}
#menuContainer{
    position: static;
    top: 0px;
    background: #ffffff;
    margin-left: -20px;
    width: 100%;
    height: 50px;
    z-index: 2;
    border-bottom: 6px solid #ffffff;
}
#menuContainer .ui-selectmenu-text{
	font-family: Lato;
    font-size: 16px;
}
#menuContainer .ui-selectmenu-button.ui-button.ui-widget{
	background: none;
    border: none;
}
#menuContainer .ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s{
	background-image: url("../img/down-arrow.png");
    background-size: 14px;
    width: 19px;
    height: 21px;
    background-position-x: 2px;
    background-position-y: 6px;
    left: -12px;
    top: -1px;
}

/*********************************************************************************/
/*******************      SMALL MULTIPLE LEGEND      *****************************/
/*********************************************************************************/
#smallLegend{
	display: inline-block;
	float: right;
	margin-top: -10px;
}
.smallLegendContainer{
	display: inline-block;
	float: left;
}
.smallLegendContainer.left{
	margin-right: 20px;
}
.smallLegendLabel{
	font-size: 14px;
	display: block;
	float: right;
	clear: both;
}
.legendSymbol{
	margin-left: 10px;
	display: inline-block;
	width: 13px;
	height: 13px;
}
.legendSymbol.series{
	border-radius: 100%;
}
.legendSymbol.series.inclusion{
	background: #12719E;
}
.legendSymbol.series.health{
	background: #fdbf11;
}
.legendSymbol.recovery.rose{
	background: rgb(228, 243, 226);
}
.legendSymbol.recovery.fell{
	background: rgb(255, 204, 204);
}







}



/*********************************************************************************/
/**************************       YEAR SELECT      *******************************/
/*********************************************************************************/
.yearSelect{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 18px;
}
.yearSelect.active{
	color: #1696d2;
}
#yearContainer{
	margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*********************************************************************************/
/*********************       INCLUSION SELECT      *******************************/
/*********************************************************************************/
.inclusionSelect{
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
    width: 161px;
    border: 1px solid #95989A;
    padding: 10px 20px 10px 20px;
    text-align: center;
    color: #414141;
}
.inclusionSelect.active{
	color: #ffffff;
	font-weight: bold;
	background: #414141
}

/*********************************************************************************/
/**************************       SCALE SELECT      ******************************/
/*********************************************************************************/
#toggleContainer{
	width: 340px;
	margin: 0 auto;
	position: relative;
}
#scaleLabel{
	color: #ec008b;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	padding-right: 10px;
}
.scaleSelect{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 18px;
}
.scaleSelect.active{
	color: #1696d2;
}
#sliderContainer{
	display: inline-block;
    width: 51px;
    border: 2px solid #707070;
    height: 28px;
    margin-right: 10px;
    border-radius: 100px;
    top: 11px;
    position: relative;
    cursor: pointer;
}
#sliderButton{
    display: inline-block;
    background: #ec008b;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    position: absolute;
    left: 194px;
    top: 15px;
    cursor: pointer;
}


