#breakpoint1250, #breakpoint1200, #breakpoint1000, #breakpoint900, #breakpoint768, #breakpoint500, #isMobile, #isPhone, #isSmallPhone, #isVerySmallPhone, #yearDatum, #inclusionTypeDatum, #scaleTypeDatum{
	position: fixed;
	width: 0px;
	height: 0px;
	top: 0px;
	left: 0px;
	pointer-events: none;
	display: none;
}
@media(max-width: 1250px){
	body.noPrint #breakpoint1250{
		display: block;
	}
	body.noPrint .mainContent,body.noPrint #smallFooter div{
		width: calc(100% - 122px);
	}
	body.noPrint #topContainer{
		width: 702px;
		margin: 0 auto;
	}
	body.noPrint .topDiv{
		margin-left: 15px;
		margin-right: 15px;
	}
	body.noPrint .infoPopup {
	    left: -158px;
	}
	body.noPrint #removeCity {
    	/*top: -24px;*/
    	right: 356px;
    }
}
@media(max-width: 1200px){
/* home */
	body.noPrint #inclusionContainer{
		left: 0px !important;
	}
	body.noPrint .inclusionSelect {
	    font-size: 12px;
	    /*width: 135px;*/
	    padding: 10px 2px 10px 2px;
	}
	body.noPrint .infoContainer{
		right: 10px;
	}

	body.noPrint #breakpoint1200{
		display: block;
	}
	body.noPrint .mainContent,body.noPrint #smallFooter div{
		width: 900px;
	}
	body.noPrint #topContainerLegend{
		width: 695px;
	}
	body.noPrint .moreChartContainer, body.noPrint #more-head{
		width: 595px;
	}
}
@media(max-width: 1000px){
/* home */
	body.noPrint #moreContainer{
		width: 702px;
	}
	body.noPrint #consolidatedNoteContainer {
    	margin-left: 0px;
    	width: 100%;
    }
	body.noPrint #breakpoint1000{
		display: block;
	}
	body.noPrint .mainContent,body.noPrint #smallFooter div{
		width: 800px;
	}
	body.noPrint #homeMap {
	    top: 320px;
	}
	body.noPrint #sidebarContainer, body.noPrint #graphContainer, body.noPrint #sidebarContainer.healthQuestion, body.noPrint #sidebarContainer.sizeQuestion, body.noPrint #graphContainer.mapQuestion{
		width: 100%;
	}
	body.noPrint .mapQuestion #legendContainer{
	    position: relative;
	    width: 348px !important;
	    right: 0px !important;
	    top: 4px;
	    margin: 0 auto;
	}
	body.noPrint #legendContainer.scatter{
		width: 348px !important;
		margin: 0 auto;
	}


	body.noPrint #questionContainer{
		width: 25%;
	}
	body.noPrint #popupContainer{
		width: 74%;
	}
	body.noPrint .legendDot{
		display: inline-block;
		margin-left: 6px !important;
	}
	body.noPrint #legend-dots{
		margin-left: 95px
	}
	body.noPrint #legend-more, body.noPrint #legend-less {
	    width: 100px;
	    position: relative;
	    left: 0px;
	}
	body.noPrint #legend-more {
    	top: -28px;
	}
	body.noPrint #legend-less {
	    top: -44px;
	    left: 260px;
	}

	body.noPrint #smallLegend {
    	display: block;
    	float: left;
    	margin-top: 50px;
    	margin-left: -240px;
    	margin-bottom: 20px;
	}
	body.noPrint .smallLegendLabel {
    	font-size: 14px;
    	display: block;
    	float: left;
    	clear: both;
    }
	body.noPrint .legendSymbol {
	    margin-left: 0px;
	    display: inline-block;
	    float: left;
	    margin-right: 10px;
	    margin-top: 3px;
	}

	body.noPrint #menuContainer .ui-selectmenu-button.ui-button.ui-widget{
		float: left;
		clear: both;
	}
	body.noPrint #menuContainer{
		height: 110px;
	}

}
@media(max-width: 900px){
/* home */
	body.noPrint #breakpoint900{
		display: block;
	}
	body.noPrint #homeCopy{
		width: 100%;
	}
	body.noPrint .mainContent,body.noPrint #smallFooter div, body.noPrint #footerContent{
		width: calc(100% - 100px);
	}
	body.noPrint #homeMap {
	    top: 400px;
	}
	body.noPrint #topContainerLegend {
	    width: 635px;
	}
	body.noPrint #questionTitle {
	    width: 450px;
	    margin-left: 220px;
	    position: relative;
	    top: -16px;
	}
}
@media(max-width: 768px){
	body.noPrint #breakpoint768{
		display: block;
	}
	body.noPrint #questionTitle {
	    width: 100%;
	    margin-left: auto;
	}
	body.noPrint #searchContainer .custom-combobox-input.ui-widget.ui-widget-content.ui-autocomplete-input {
	    width: 262px;
	    height: 30px;
	}
	body.noPrint #searchContainer div.ui-widget {
    	width: 290px;
    }
	body.noPrint #searchContainer .ui-button-icon.ui-icon.ui-icon-triangle-1-s {
	    width: 39px;
	    height: 39px;
	    background-size: 19px;
	    top: 0px;
	    left: 7px;
    }
	body.noPrint #searchContainer input.custom-combobox-input.ui-widget.ui-widget-content.ui-state-default.ui-corner-left.ui-autocomplete-input {
        font-size: 17px;
    }
	body.noPrint #searchContainer{
    	height: 72px;
    }

	body.noPrint .ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
		width: 262px;
	}
	body.noPrint ul.ui-widget.ui-autocomplete li.ui-menu-item{
	    width: 100%;
	}
	body.noPrint #graphContainer.mapQuestion{
		display: none;
	}

	body.noPrint #questionContainer, body.noPrint #questionContainer.change {
    	width: 100% !important;
    	border: none;
    	background: #D9D9D9;
    	left: -10px;
    	padding-bottom: 30px;
    }
	body.noPrint #questionContainer .questionMenu {
	    width: calc(33% - 25px);
	    display: inline-block;
	    vertical-align: top;
	    padding: 0px;
	    margin: 0px !important;
	    height: 93px;
	    font-size: 13px;
	    color: #12719E;
	    margin-bottom: 28px;
	    padding-left: 0px;
	    text-align: center;
	    font-weight: normal;
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-top: 10px;
	    border-left: 1px solid #707070;
    }
	body.noPrint .questionMenu.health{
    	border-left: 1px solid #D9D9D9 !important;
    }
	body.noPrint .questionMenu.map.active{
    	display: none !important;
    }
	body.noPrint #questionMenuLabel {
	    font-size: 13px;
	    font-weight: bold;
	    /* font-weight: 300; */
	    margin-left: 10px;
	    margin-bottom: 20px;
	    text-decoration: none;
	    border-bottom: 1px solid #707070;
	    width: calc(100% - 20px);
	    text-align: center;
	    padding-bottom: 5px;
	    padding-top: 10px;
    }
	body.noPrint .questionMenu.map{
    	display: none !important;
    }
	body.noPrint #legendContainer.scatter {
    	width: 280px !important;
    	left: calc(50% - 141px);
    	height: 100px;
    	margin-left: 0px;
    }
	body.noPrint #legend-dots {
	    margin-left: 42px;
	}
	body.noPrint #legend-more, body.noPrint #legend-less {
    	width: 80px;
    }
	body.noPrint #legend-less {
	    top: -64px;
	    left: 210px;
	}
	body.noPrint #yearContainer{
		width: 290px !important;
		position: relative;
		left: calc(50% - 171px);
		margin-left: 0px;
		margin-bottom: 50px;
	}
	body.noPrint .yearSelect .yLabel{
		font-size: 16px !important;
	}
	body.noPrint #scaleLabel{
		display: block;
	}
	body.noPrint #sliderButton{
		top: 37px;
	}
	body.noPrint #popupContainer{
		width: 100%;
	}
	body.noPrint #sidebarContainer{
		padding-left: 0px;
	}
	body.noPrint #ml_y_2,body.noPrint #ml_y_1{
		left: 84%;
	}
	body.noPrint .inclusionSelect {
    	display: block;
    	width: calc(100% - 50px);
    	margin-bottom: 10px;
    }
	body.noPrint #popupContainer.change {
	    width: 100% !important;
	}
	body.noPrint #sidebarContainer.changeQuestion{
		margin-left: 0px !important
	}
	body.noPrint #graphContainer.changeQuestion{
		margin-left: 0px !important;
	}
	body.noPrint #smallLegend {
	    margin-top: -10px;
	    margin-left: 20px;
	    margin-bottom: 20px;
	}
	body.noPrint #menuContainer {
	    height: 150px;
	}
	body.noPrint #graphContainer.cityPage{
		width: 100%;
	}
	body.noPrint #topContainer {
    	width: 100%;
    }
	body.noPrint .topDiv{
    	margin: 0 auto;
    	margin-bottom: 30px;
    	display: table;
    }
	body.noPrint #titleNavContainer {
    	width: 100%;
    }
	body.noPrint #csvDownload{
    	margin-top: 10px !important;
    }
	body.noPrint #dropdownContainer {
        right: 10px;
    }
	body.noPrint #dropdownContainer .custom-combobox-input.ui-widget.ui-widget-content.ui-autocomplete-input {
    	width: 270px;
    }
	body.noPrint #dropdownContainer input.custom-combobox-input.ui-widget.ui-widget-content.ui-state-default.ui-corner-left.ui-autocomplete-input {
    	font-size: 16px;
    }
	body.noPrint #topContainerLegend {
	    width: 100%;
	}
	body.noPrint #removeCity {
	    top: -27px;
	    right: 186px;
	    width: 110px;
	}
	body.noPrint .moreDiv{
		position: relative;
		left: calc(50% - 296px);
	}
	body.noPrint .moreChartContainer, body.noPrint #more-head {
	    width: 100%;
	}
	body.noPrint #moreContainer {
    	width: calc(100% - 3px);
    	left: -23px;
    	border-left: 22px solid #f5f5f5;
	}
	body.noPrint #moreLegendContainer {
    	position: absolute;
    	top: -40px;
    	left: calc(50% - 173px);
	}
	body.noPrint #more-head{
		background: #D9D9D9;
		left: -24px;
		position: relative;
		width: calc(100% + 24px);
		font-size: 14px;
		padding-bottom: 10px;
	}
	body.noPrint #more-navContainer {
	    display: block;
	    width: calc(50% + 169px);
	    left: -24px;
	    background: #D9D9D9;
	    padding-left: calc(50% - 145px);
	    position: relative;
	    margin-bottom: 70px;
	    padding-bottom: 20px;
    }
	body.noPrint #more-navContainer .nav{
    	font-size: 11px;
    }
	body.noPrint .footerButton{
		margin-top: 10px;
	}
}
@media(max-width: 725px){
/* home */
	body.noPrint #isMobile{
		display: block;
	}
}
@media(max-width: 691px){
	body.noPrint .moreDiv{
		left: calc(50% - 156px);
	}
}
@media(max-width: 620px){
/* home */
	body.noPrint #isPhone{
		display: block;
	}
	body.noPrint .mainContent,body.noPrint #smallFooter div, body.noPrint #footerContent{
		width: calc(100% - 80px);
	}
	body.noPrint #title, body.noPrint #subtitle{
		font-size: 26px;
	}
	body.noPrint .introText{
		font-size: 15px;
	}
}
@media(max-width: 500px){
/* home */
	body.noPrint #consolidatedNoteContainer {
    	margin-left: 0px;
    	width: calc(100% - 40px);
    }
	body.noPrint #breakpoint500{
		display: block;
	}
	body.noPrint .mainContent,body.noPrint #smallFooter div, body.noPrint #footerContent{
		width: calc(100% - 20px);
	}
}

